version: "3"
services:
  app:
    build: .
    ports:
      - "4879:4941"
    environment:
      - SENG365_MYSQL_HOST=mysql
      - SENG365_MYSQL_PORT=3306
      - SENG365_DOCKER_FLAG=1
    depends_on:
      - mysql
  mysql:
    image: "mysql:5.7"
    environment:
      - MYSQL_ROOT_PASSWORD=secret
#    ports:
#      - "6612:3306"